<html>
	<head>
		<title></title>
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="js/libs/jquery-ui.min.css">
<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<div class="canvas canvas-working">
			<img src="img/demo-small.jpg" alt="">
		</div>
		<div class="canvas canvas-original">
			<img src="img/demo-small.jpg" alt="">
		</div>
		<div class="search">
			<div class="bar"></div>
			<div class="suggestions">
				<!-- <p>Suggestions</p> -->
			</div>
		</div>
		<div class="tools">
			<div class="tutorial-heading">
				<h3>Tutorials</h3>
				<button>Done</button>
			</div>
		</div>
		<div class="controls"></div>


		<script type="text/template" id="search-bar-view">
			<input type="text" placeholder="What would you like to do?">
			<button class="close">Clear</button>
		</script>
		<script type="text/template" id="workflow-search-results-view">
			<ul class="workflow-search-results"></ul>
		</script>
		<script type="text/template" id="feature-search-results-view">
			<ul class="feature-search-results"></ul>
		</script>
		<script type="text/template" id="feature-view">
			<h3><%= name %></h3>
			<p><%= desc %></p>
		</script>
		<script type="text/template" id="workflow-view">
			<h3><%= instruction %></h3>
			<p><strong><%= name %></strong>: <%= desc %></p>
			<div class="button-area">
				<button class="tutorial">Tutorial</button>
				<button class="grab-tools">Grab Tools</button>
			</div>
		</script>
		<script type="text/template" id="tutorial-view">
			<ul></ul>
		</script>
		<script type="text/template" id="grab-tools-view">
			<ul></ul>
		</script>
		<script type="text/template" id="brightness-control-view">
			<div class="control control-brightness">
				<button class="close">Clear</button>
				<h3>Brightness (<span>0</span>)</h3>
				<div id="brightness-slider"></div>
				<div class="apply-cancel">
					<button class="apply">Apply</button>
					<button class="cancel">Cancel</button>
				</div>
			</div>
		</script>
		<script type="text/template" id="contrast-control-view">
			<div class="control control-contrast">
				<button class="close">Clear</button>
				<h3>Contrast (<span>0</span>)</h3>
				<div id="contrast-slider"></div>
				<div class="apply-cancel">
					<button class="apply">Apply</button>
					<button class="cancel">Cancel</button>
				</div>
			</div>
		</script>
		<script type="text/template" id="colorize-control-view">
			<div class="control control-colorize">
				<button class="close">Close</button>
				<h3>Colorize </h3>
				<input type="hidden" class="color-picker-value" value="#bada55">
				<input type="hidden" class="color-slider-value" value="20">
				<div class="control-row">
					<p>Pick a color</p>
					<input type="text" id='color-picker' value="#bada55" />
				</div>
				<div class="control-row">
					<p>Strength (<span>20</span>)</p>
					<div id="colorize-slider"></div>
					<div class="apply-cancel">
						<button class="apply">Apply</button>
						<button class="cancel">Cancel</button>
					</div>
				</div>
				<div class="tutorial">
					<h4>Cross-process by adjusting colors</h4>
					<p>To give the image a cross-processed look, toggle the shadows for more blue color, and toggle the highlights for more yellow color.</p>
				</div>
			</div>
		</script>
		<script type="text/template" id="exposure-control-view">
			<div class="control control-exposure">
				<button class="close">Close</button>
				<h3>Exposure (<span>0</span>)</h3>
				<div id="exposure-slider"></div>
				<div class="apply-cancel">
					<button class="apply">Apply</button>
					<button class="cancel">Cancel</button>
				</div>
				<div class="tutorial">
					<h4>Lighten photo with the level tool</h4>
					<p>Use the level tool to lighten the shadows in your photo. To add a haze-like effect, increase the output level.</p>
				</div>
			</div>
		</script>
		<script type="text/template" id="gamma-control-view">
			<div class="control control-gamma">
				<button class="close">Close</button>
				<h3>Gamma (<span>1</span>)</h3>
				<div id="gamma-slider"></div>
				<div class="apply-cancel">
					<button class="apply">Apply</button>
					<button class="cancel">Cancel</button>
				</div>
			</div>
		</script>
		<script type="text/template" id="curves-control-view">
			<div class="control control-curves">
				<button class="close">Close</button>
				<h3>Curve</h3>
				<div class="curves-canvas">
					<canvas width="256" height="256"></canvas>
					<div class="control-point control-point-1"></div>
					<div class="control-point control-point-2"></div>
					<div class="control-point control-point-3"></div>
					<div class="control-point control-point-4"></div>
				</div>
				<div class="apply-cancel">
					<button class="apply">Apply</button>
					<button class="cancel">Cancel</button>
				</div>
				<div class="tutorial">
					<h4>Lighten blacks with the curve tool</h4>
					<p>Curves change the tonal range of your photos. Drag your control point up from the diagonal line to lighten colors. Adjusting the bottom left control point gives the photo a matte effect.</p>
				</div>
			</div>
		</script>

		<script type="text/javascript" src="js/libs/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/libs/underscore-min.js"></script>
		<script type="text/javascript" src="js/libs/backbone-min.js"></script>
		<script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/libs/caman.full.min.js"></script>
		<script type="text/javascript" src="js/libs/iris.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>